# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
.tmp

# Node
node_modules

# Data
thumbnails
houses.csv
houses_computed.json
schools_point.csv
gares_point.csv